<br />
        <div class="container">

            <h1 class="header light gray3 fancy"><span class="colored">About Us</span></h1>
            <div class="panel-body">
                <div class="col-lg-12">
                    
                        <div class="panel-custom-horrible-red">
                            <div class="panel-heading"><label style="font-size:150%;color: #402063; ">About Us</label></div>
                            <div class="col-md-12">
                                <p>
                                </p>
                            </div><br />

                            <div class="panel-body">
                                <div class="col-md-6">
                                    <p style="line-height: 200%; font-size:120%;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Planet fitness is established in January 2015. The establishment date is recent but the experience is of 13 years. To give good results and to provide better service to the gym members is our main moto.
                                        Swapnali Asole (Director) Professionaly Dietician, is known for providing effective results for weight loss, weight gain, fitness through natural diet. Mr Dinesh Asole (Director) The Personal Training expert has experience of around 13 years in fitness field.

                                    <p style="line-height: 200%; font-size:120%;">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Here in Planet fitness we provide Packages like Total fitness, Weight loss, weight gain, Muscle builind, etc along with group activities like Yoga, Aerobics, Zumba , Circuit Training. We also provide facilities like Massage, Locker facility, Diet counseling, Personal training.
                                        Professional, certified and trained staff to serve you the best. Follows best workout techniques discussed with experts to give you better results. Earlier we started with a small branch but within 9 months we expanded it in a big area with so many new facilities. (That was the public response). And now we are looking forward to spread in a city with new locations for the new beautiful people who want to look better and be fit.
                                    </p>
                                </div>

                                <div class="col-md-6">
                                    <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1000px; height: 450px; overflow: hidden; visibility: hidden;">
                                        <!-- Loading Screen -->
                                        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                                            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                                            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                                        </div>
                                        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 974px; height: 500px; overflow: hidden;">


                                            <div data-p="225.00" style="display: none;">
                                                <img data-u="image" src="\Images\PlanetImages\PlanetTraining\1.jpg" />
                                            </div>
                                            <div data-p="225.00" style="display: none;">
                                                <img data-u="image" src="\Images\PlanetImages\PlanetTraining\2.jpg" />
                                            </div>
                                            <div data-p="225.00" style="display: none;">
                                                <img data-u="image" src="\Images\PlanetImages\PlanetTraining\3.jpg" />
                                            </div>
                                            <div data-p="225.00" style="display: none;">
                                                <img data-u="image" src="\Images\PlanetImages\PlanetTraining\22.jpg" />
                                            </div>
                                            <div data-p="225.00" style="display: none;">
                                                <img data-u="image" src="\Images\PlanetImages\PlanetTraining\23.jpg" />
                                            </div>
                                            <div data-p="225.00" style="display: none;">
                                                <img data-u="image" src="\Images\PlanetImages\PlanetTraining\30.jpg" />
                                            </div>


                                            <script>
                                    jssor_1_slider_init();
                                            </script>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="panel-custom-horrible-red">
                        <div class="panel-heading"><label style="font-size:150%;color: #402063; ">Contact Details</label></div>
                        <div class="panel-body">
                            <table class="table table-responsive">
                                <thead class="thead-inverse">
                                    <tr>
                                        <td>Address</td>
                                        <td>
                                            Ladkat Plaza, above Bank Of India,<br />
                                            Ragvilas Society, Koregaon Park,<br />
                                            Pune, Maharashtra 411001<br />
                                        </td>
                                    </tr>
                                </thead> <!-- Service Tax Headings -->
                                <thead>
                                    <tr>
                                        <td>
                                            Phone Number
                                        </td> <!-- Tax Name -->
                                        <td>
                                            (020) 41207101,41207102
                                        </td> <!-- Tax Rate -->
                                    </tr> <!-- Service Tax Data -->
                                    <tr>
                                        <td>
                                            Support Email
                                        </td>
                                        <td>
                                            support@excellencea.com
                                        </td>
                                    </tr> <!-- Service Tax Total -->
                                </thead>
                            </table>
                            <br /><br />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 panel-body">

                    <div id="map" style="width: 100%; height: 300px;"></div>
                    <script>
                        function initMap() {
                            var mapDiv = document.getElementById('map');
                            var map = new google.maps.Map(mapDiv, {
                                center: { lat: 18.610224, lng: 73.782335 },
                                zoom: 15
                            });
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
                            async defer></script>
                </div>


            </div>

</div>



