<div class='dashboard'>


    <!-- Navigation -->
    <section id="navigation" class="dark-nav">
        <!-- Navigation Inner -->
        <div class="nav-inner">
            <!-- Site Logo -->
            <div class="site-logo fancy">
                <a href="#" id="logo-text" class="scroll logo">
                    <img src="../../Images/PlanetImages/PlanetLogo/PlanetFitnessGymLogo13.png" height="100" width="350" />
                </a>
            </div><!-- End Site Logo -->
            <a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
            <!-- Navigation Menu -->
            <div class="nav-menu">
                <ul class="nav uppercase">
                    <!--<li><a href="index.html#/dashboard/home" class="scroll">Home</a></li>
                    <li><a href="index.html#/dashboard/aboutUs" class="scroll">About us</a></li>
                    <li><a href="index.html#/dashboard/contactUs" class="scroll">Contact Us</a></li>-->
                    <li><a href="index.html#/dashboard/careersAvailable" class="scroll">Career</a></li>
                    <li class="menu">
                        <a href="index.html#/dashboard/Enquiry" class="scroll">Enquiry</a>
                        <ul class="submenu" >
                            <li><a href="index.html#/dashboard/Enquiry"  class="scroll">Enquiry</a></li>
                            <li><a href="index.html#/dashboard/followUp1"  class="scroll">Follow-Up</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html#/dashboard/addWorkoutComponents" class="scroll">Workout Items</a></li>
                    <li><a href="index.html#/dashboard/workout" class="scroll">Workout</a></li>
                    <li><a href="index.html#/dashboard/ServiceList" class="scroll">Service List</a></li>
                </ul>
            </div><!-- End Navigation Menu -->
        </div><!-- End Navigation Inner -->
    </section><!-- End Navigation Section -->
    
    <br /><br /><br /><br />





















    <div ng-class="" ui-view>

    </div>

    <div class="container footer">
        <div class="row">
            <div class="col-md-12" align="center">
                <span class="copyright">&copy; 2016 Excelleneca Digital Technology Private Limited. All rights reserved.</span>
            </div>
        </div>
    </div>
    <div>
        <div class="modal fade bs-example-modal-sm" id="SesssionModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modeltitle" id="myModalLabel">Session Expired</h4>
                    </div>
                    <div class="modal-body">
                        <p>Your session has expired.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="ClosePopup" class="btn btn-default" data-dismiss="modal" ng-click="Session()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>