<form name="newAdmissionController" ng-app="gymManagementApp" ng-controller="newAdmissionController" novalidate>
    <br />
    <div>

            <div class="panel-custom-horrible-red" align="center">
                <h1 class="header light gray3 fancy"><span class="colored">New Admission</span></h1>

        <br />
    <!------------------------------------------------------------ User Details Container class  -------------------------------------------------------------------------------------------------------------
    @Package     :-
    @Sub-Package :-
    @Category    :-
    @Link        :-
    @Since       :-
    @Filesource  :-
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="panel-custom-horrible-red">
            <div class="panel-heading">
                <div class="container-fluid panel-container">
                    <div class="col-xs-3 text-left">
                        <label style="font-size:150%;color: #402063;">Search Enquiry Details</label>
                    </div>
                    <div class="col-xs-6 text-center ">
                    </div>
                </div>
            </div>

            <br />
            <div class="col-lg-1"><input placeholder="Inquiry ID" id="InquiryID" class="form-control" ng-model="search.InquiryID"></div>
            <div class="col-lg-3"><input placeholder="First Name" class="form-control" ng-model="search.Fname"></div>
            <div class="col-lg-3"><input placeholder="Middle Name" class="form-control" ng-model="search.Mname"></div>
            <div class="col-lg-3"><input placeholder="Last Name" class="form-control" ng-model="search.Lname"></div>
            <div class="col-lg-2"><input placeholder="Birth Date" class="form-control" ng-model="search.BirthDate"></div>

            <br />
            <br /><br />
            <div id="searchtable">
                <div style="overflow-x:auto;height:300px">
                    <table id="enquirysearch" class="table table-striped table-bordered table-responsive" arrow-selector>
                        <thead class="thead-inverse">
                            <tr>
                                <th>Inquiry ID</th>
                                <th>fname</th>
                                <th>Mname</th>
                                <th>Lname</th>
                                <th>Birth Date</th>
                                <th>Email</th>
                                <th>MobileNumber</th>
                                <th>Gender</th>
                                <th>Marrital Status</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Pincode</th>
                                <th>State</th>
                                <th>SourceOfInquiry</th>
                                <th>InterestedDays</th>
                                <th>Interested Services</th>
                                <th>EnquiryDate</th>
                                <th>BranchName</th>
                                <th>Comment</th>
                            </tr>
                        </thead>

                        <tr ng-repeat="item in Enqueries  | filter: search:strict" ng-click=selectEnquiry(item.InquiryID,item.Fname,item.Mname,item.Lname,item.BirthDate,item.Email,item.MobileNumber,item.Gender,item.MarritalStatus,item.Address,item.City,item.Pincode,item.State,item.SourceOfInquiry,item.InterestedDays,item.InterestedServices,item.EnquiryDate,item.BranchName,item.Comment)>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.InquiryID}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.Fname}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.Mname}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.Lname}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.BirthDate}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.Email}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.MobileNumber}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.Gender}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.MarritalStatus}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.Address}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.City}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.Pincode}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.State}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.SourceOfInquiry}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.InterestedDays}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.InterestedServices}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.EnquiryDate}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.BranchName}}</td>
                            <td ng-if="item.Fname!=null && item.Lname!=null && item.MobileNumber!=null && item.Status!='Admitted'">{{item.Comment}}</td>
                        </tr>
                    </table>
                </div>
                <br />

                <div class="panel-custom-horrible-red" ng-if="Fname!=null && Lname!=null && MobileNumber!=null">
                    <div class="panel-heading"> <label style="font-size:150%;color: #402063;">Selected User Details</label></div>
                    <br />
                    <div class="panel-body">
                        <div class="col-md-3">

                            <div class="col-md-4">
                                <label style="padding-top:8px">Enquiry ID:</label>
                            </div>
                            <!-- First name -->
                            <div class="col-md-8">
                                <input class="form-control" id="id" ng-model="id" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-4">
                                <label style="padding-top:8px">First Name:</label>
                            </div>
                            <!-- Middle Name -->
                            <div class="col-md-8">
                                <input class="form-control" id="Fname" ng-model="Fname" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-4">
                                <label style="padding-top:8px">Middle Name:</label>
                            </div>
                            <!-- Middle Name -->
                            <div class="col-md-8">
                                <input class="form-control" id="Mname" ng-model="Mname" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-4">
                                <label style="padding-top:8px">Last Name:</label>
                            </div>
                            <!-- Middle Name -->
                            <div class="col-md-8">
                                <input class="form-control" id="Lname" ng-model="Lname" readonly>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-4">
                                <label style="padding-top:8px">Email:</label>
                            </div>
                            <!-- Email -->
                            <div class="col-md-8">
                                <input class="form-control" id="Email" ng-model="Email" readonly>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-4">
                                <label style="padding-top:8px">Mobile Number:</label>
                            </div>
                            <!-- Middle Name -->
                            <div class="col-md-8">
                                <input class="form-control" id="MobileNumber" ng-model="MobileNumber" readonly>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="col-md-4">
                                <label style="padding-top:8px">Birth Date:</label>
                            </div>
                            <!-- Birth Date -->
                            <div class="col-md-8">
                                <input class="form-control" id="BirthDate" ng-model="BirthDate" readonly>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-4">
                                <label style="padding-top:8px">Gender:</label>
                            </div>
                            <!-- Middle Name -->
                            <div class="col-md-8">
                                <input class="form-control" id="Gender" ng-model="Gender" readonly>
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>

                <div class="col-md-12">
                    <p></p>
                </div>
            </div>
            <br />           <!-- End of User Details Container class -->
            <!--End of Heading panel -->
            <!-------------------------------------------------------- User Details Container class  -------------------------------------------------------------------------------------------------------------
        @Package     :-
        @Sub-Package :-
        @Category    :-
        @Link        :-
        @Since       :-
        @Filesource  :-
        ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

            <div class="container" ng-if="Fname!=null && Lname!=null && MobileNumber!=null">
                <div class="panel-custom-horrible-red" ng-if="Fname!=null && Lname!=null && MobileNumber!=null">
                    <div class="panel-heading" style="background-color:#D2B4E4"><label style="font-size:150%;color: #402063;  ">Select Package for Renew</label> </div>
                    <div class="container">
                        <p></p>
                    </div>
                    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                    <!--{{packagerow}}
                {{fianlPackagesArray}}-->
                    <div style="overflow-x:auto;">
                        <table class="table table-bordered table-responsive">
                            <tbody>
                                <tr id="master" ng-repeat="packages in packagerow">
                                    <td colspan="2">
                                        <table class="table table-bordered table-responsive">
                                            <thead class="thead-inverse">
                                                <tr style="background-color:#D2B4E4">
                                                    <th width="10%">Select Package Name</th>
                                                    <!--<th width="10%">Name</th>-->
                                                    <th width="10%">Validity Days</th>
                                                    <th width="10%">Start Date</th>
                                                    <th width="10%">Expiry Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        <select class="form-control" ng-model="packages.Packagename" ng-change=getpackagesarray() ng-options="pk as pk.Packagename for pk in GMSpackages1" required></select>
                                                        <label ng-if="packages.Packagename.Packagename==null" style="color:red">Please Select Package</label>
                                                    </th>
                                                    <!--<th ng-if="packages.Packagename.Packagename!=null"><input class="form-control" ng-model="packages.Packagename.Packagename" placeholder="Package Name" readonly></th>-->

                                                    <th ng-if="packages.Packagename.Packagename!=null"><input class="form-control" ng-model=packages.Packagename.ValidityDays readonly></th>
                                                    <th ng-if="packages.Packagename.Packagename!=null">
                                                        <div class="inner-addon right-addon">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                            <input class="form-control" ng-model="packages.Packagename.StartDate" ng-change="GetpackageExpiryDate(packages.Packagename.StartDate,packages.Packagename.ValidityDays)" ng-value=startingdate1 placeholder="YYYY-MM-DD" jqdatepicker>
                                                        </div>

                                                        <label ng-if="packages.Packagename.StartDate==null" style="color:red">Please Enter Date in YYYY-MM-DD</label>
                                                    </th>
                                                    <th ng-if="packages.Packagename.Packagename!=null"><input class="form-control" ng-value=GetpackageExpiryDate(packages.Packagename.StartDate,packages.Packagename.ValidityDays) readonly></th>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered table-responsive" ng-if="packages.Packagename.Packagename!=null">
                                            <thead class="thead-inverse">
                                                <tr style="background-color:#D2B4E4">
                                                    <th>ServiceName</th>
                                                    <th>Discount type</th>
                                                    <th>Enter Discount</th>
                                                    <th>Base Price</th>
                                                    <th>Price After Discount</th>
                                                    <th>Tax &#x20B9;</th>
                                                    <th>Price After Tax</th>
                                                    <th>Service Level Taxes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="includeservice in packagewithservice" ng-if="packages.Packagename.Packagename == includeservice.PackageName">
                                                    <td>
                                                        {{includeservice.IncludeServiceName}}
                                                    </td> <!-- Service Name -->
                                                    <td>
                                                        <select class="form-control" style="width:120px;" ng-value="includeservice.DiscountType" ng-model="includeservice.DiscountType" ng-change=messagewarning(includeservice.DiscountType)>
                                                            <option>Rupees</option>
                                                            <option>Percentage</option>
                                                        </select>
                                                    </td> <!-- Select Discount Type -->
                                                    <td>
                                                        <div ng-if="includeservice.DiscountType=='Percentage'">
                                                            <div class="input-group">
                                                                <span class="input-group-addon" id="basic-addon1">%</span>
                                                                <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="includeservice.ServiceDiscount" ng-value=includeservice.ServiceDiscount required />
                                                            </div>
                                                            <label ng-if="includeservice.ServiceDiscount==null" style="color:red">Mandatory Field (Numbers Only)</label>
                                                            <label ng-if="includeservice.ServiceDiscount!=null && includeservice.ServiceDiscount>100" style="color:red">Discount should not be Greater than 100</label>
                                                        </div>
                                                        <div ng-if="includeservice.DiscountType=='Rupees'">
                                                            <div class="input-group">
                                                                <span class="input-group-addon" id="basic-addon1">&#x20B9;</span>
                                                                <input type="text" class="form-control" ng-model="includeservice.ServiceDiscount" required />
                                                            </div>
                                                            <label ng-if="includeservice.ServiceDiscount==null" style="color:red">Mandatory Field (Numbers Only)</label>
                                                            <!--<label ng-if="includeservice.ServiceDiscount!=null && includeservice.ServiceDiscount=(includeservice.ServicePrice)" style="color:red">asdasdasdad</label>-->
                                                        </div>
                                                    </td> <!-- Discount Input -------->
                                                    <td>
                                                        <!--<input type="number" class="form-control" aria-describedby="basic-addon1" ng-model="includeservice.ServicePrice" ng-value=includeservice.ServicePrice required />-->
                                                        {{includeservice.ServicePrice}}
                                                    </td> <!-- Service Base Price -->
                                                    <td>
                                                        <div ng-if="includeservice.DiscountType=='Percentage'">
                                                            <div class="input-group">
                                                                &#x20B9;
                                                                {{(includeservice.ServicePrice-(includeservice.ServicePrice*includeservice.ServiceDiscount/100))}}
                                                            </div>
                                                        </div>

                                                        <div ng-if="includeservice.DiscountType=='Rupees'">
                                                            <div class="input-group">
                                                                &#x20B9;
                                                                {{includeservice.ServicePrice-includeservice.ServiceDiscount}}
                                                            </div>
                                                        </div>
                                                    </td> <!-- Price After Discount -->
                                                    <td>
                                                        <div ng-if="includeservice.DiscountType=='Rupees'">{{(includeservice.ServicePrice-includeservice.ServiceDiscount)*(includeservice.TotalTax/100)}}</div>
                                                        <div ng-if="includeservice.DiscountType=='Percentage'">{{(includeservice.ServicePrice-(includeservice.ServicePrice*includeservice.ServiceDiscount/100))*(includeservice.TotalTax/100)}}</div>
                                                    </td> <!-- Tax In Rupees --------->
                                                    <td>
                                                        <div ng-if="includeservice.DiscountType=='Rupees'"> {{(includeservice.ServicePrice-includeservice.ServiceDiscount)*(includeservice.TotalTax/100)+(includeservice.ServicePrice-includeservice.ServiceDiscount)}} </div>
                                                        <div ng-if="includeservice.DiscountType=='Percentage' && includeservice.ServiceDiscount!=''">{{((includeservice.ServicePrice-(includeservice.ServicePrice*includeservice.ServiceDiscount/100))*includeservice.TotalTax/100)+(includeservice.ServicePrice-(includeservice.ServicePrice*includeservice.ServiceDiscount/100))}} </div>
                                                    </td> <!-- Price After Discount and Tax -->
                                                    <td>
                                                        <table class="table table-bordered table-responsive">
                                                            <thead class="thead-inverse">
                                                                <tr style="background-color:#D2B4E4">
                                                                    <th>Tax Name</th>
                                                                    <th>Tax %</th>
                                                                </tr>
                                                            </thead> <!-- Service Tax Headings -->
                                                            <tbody>
                                                                <tr ng-repeat="tax in taxes">
                                                                    <td ng-if="packages.Packagename.Packagename == includeservice.PackageName && includeservice.IncludeServiceName==tax.Product_Name && tax.Product_Type=='Service level Tax'">
                                                                        {{tax.TaxName}}
                                                                    </td> <!-- Tax Name -->
                                                                    <td ng-if="packages.Packagename.Packagename == includeservice.PackageName && includeservice.IncludeServiceName==tax.Product_Name && tax.Product_Type=='Service level Tax'">
                                                                        {{tax.Percentage}}
                                                                    </td> <!-- Tax Rate -->
                                                                </tr> <!-- Service Tax Data -->
                                                                <tr style="background-color:#D2B4E4">
                                                                    <td>
                                                                        Total
                                                                    </td>
                                                                    <td>
                                                                        {{includeservice.TotalTax}}
                                                                    </td>
                                                                </tr> <!-- Service Tax Total -->
                                                            </tbody>
                                                        </table>
                                                    </td> <!-- Service Tax Details -->
                                                </tr>
                                                <tr style="background-color:#D2B4E4" ng-if="packages.Packagename.Packagename!=null">
                                                    <td>
                                                        <table class="table table-bordered table-responsive">
                                                            <thead class="thead-inverse">
                                                                <tr style="background-color:#D2B4E4;">
                                                                    <th colspan="2">Package Level Taxes</th>
                                                                </tr>
                                                                <tr style="background-color:#D2B4E4">
                                                                    <th>Tax Name</th>
                                                                    <th>Tax %</th>
                                                                </tr>
                                                            </thead> <!-- Package Tax Headings -->
                                                            <tbody>

                                                                <tr ng-repeat="tax in taxes">
                                                                    <td ng-if="packages.Packagename.Packagename == tax.Product_Name && tax.Product_Type=='Package Level Tax' && tax.TaxName!=null">{{tax.TaxName}}</td>
                                                                    <td ng-if="packages.Packagename.Packagename == tax.Product_Name && tax.Product_Type=='Package Level Tax' && tax.TaxName!=null">{{tax.Percentage}}</td>
                                                                </tr>
                                                                <tr style="background-color:#D2B4E4">
                                                                    <td>Total %</td>
                                                                    <td>{{getpackageLevelTaxTotal(packages.Packagename.Packagename)}}</td>
                                                                </tr>
                                                                <tr style="background-color:#D2B4E4">
                                                                    <td>
                                                                        Total &#x20B9;
                                                                    </td>
                                                                    <td>
                                                                        {{(getpackageLevelTaxTotal(packages.Packagename.Packagename) * (getpackageDetails(packages.Packagename.Packagename)-(GetPackageTotaldiscount(packages.Packagename.Packagename))) /100)}}
                                                                    </td>

                                                                </tr>

                                                            </tbody>                       <!-- Package Tax Data -->
                                                        </table>
                                                    </td>   <!-- Package Tax Details -->
                                                    <td>
                                                        <div>
                                                            <label>Total Discount In &#x20B9;</label>
                                                        </div>

                                                        <div>
                                                            <label>Total Discount In %</label>
                                                        </div>

                                                    </td>   <!-- Package Total Price -->

                                                    <td>
                                                        <div>
                                                            <div class="input-group">
                                                                <span class="input-group-addon" id="basic-addon1"> <b>&#x20B9;</b></span>
                                                                <input type="text" class="form-control" ng-model="packages.Packagetotaldiscount" ng-value=GetPackageTotaldiscount(packages.Packagename.Packagename) readonly />
                                                            </div>
                                                            <br />
                                                        </div> <!-- Package Discount Total In Rupess -->
                                                        <div>
                                                            <div class="input-group">
                                                                <span class="input-group-addon" id="basic-addon1"> <b>%</b></span>
                                                                <!--<input type="text" class="form-control" ng-model="packages.Packagetotaldiscount" ng-value=(GetPackageTotaldiscount(packages.packagename.Packagename)/(getpackageDetails(packages.packagename.Packagename))*100) readonly />-->
                                                                <input type="text" class="form-control" value={{getpackagetotaldiscountinpercentage(packages.Packagename.Packagename)}} readonly />
                                                            </div>
                                                        </div> <!-- Package Discount Total In Percentage -->
                                                    </td>   <!-- Blank-->

                                                    <td width="10%">

                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="packages.Packageprice" ng-value=getpackageDetails(packages.Packagename.Packagename) readonly />

                                                    </td>   <!-- Package Discount Total Details -->
                                                    <td>
                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="packages.packagestotalaftertax" ng-value=(getpackageDetails(packages.Packagename.Packagename)-(GetPackageTotaldiscount(packages.Packagename.Packagename))) readonly />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="packages.packagestotaltax" ng-value=getpackagestotaltax(packages.Packagename.Packagename) readonly />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="packages.packagestotalafterdiscountandprice" ng-value=getpackagestotaltax(packages.Packagename.Packagename)+(getpackageDetails(packages.Packagename.Packagename)-(GetPackageTotaldiscount(packages.Packagename.Packagename))) readonly />
                                                    </td>
                                                    <td>
                                                        <!--{{getpackagestotaltax(packages.packagename.Packagename)+(getpackageDetails(packages.Packagename.Packagename)-(GetPackageTotaldiscount(packages.Packagename.Packagename)))}}<br />
                                                    {{(getpackageLevelTaxTotal(packages.Packagename.Packagename) * (getpackageDetails(packages.Packagename.Packagename)-(GetPackageTotaldiscount(packages.Packagename.Packagename))) /100)}} <br />------------<br />
                                                    {{(getpackagestotaltax(packages.Packagename.Packagename)+(getpackageDetails(packages.Packagename.Packagename)-(GetPackageTotaldiscount(packages.Packagename.Packagename))))+(getpackageLevelTaxTotal(packages.Packagename.Packagename) * (getpackageDetails(packages.Packagename.Packagename)-(GetPackageTotaldiscount(packages.Packagename.Packagename))) /100)}}-->
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </td>
                                    <td style="width:2%">
                                        <button ng-click="packagerRow($index)" class="btn btn-danger btn_remove">x</button>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                        <div class="col-md-12" align="center">
                            <button ng-click="addpackage()" class="btn btn-success">Add-Package</button>
                        </div>

                    </div>
                    <br />
                </div>
                <div class="container">
                    <p></p>
                </div>

                <div>
                    <div class="panel-custom-horrible-red">
                        <div class="panel-heading" style="background-color:#D2B4E4"><label style="font-size:150%;color: #402063;  ">Invoice Details</label> </div>
                        <table class="table table-bordered table-responsive">
                            <tbody>
                                <tr>
                                    <th>Package Base Price</th>
                                    <td> {{getpackagestotalprice()}}</td>
                                    <!--</tr>
                                 <tr>-->
                                    <th>Total Discount</th>
                                    <td> {{getpackagestotalDiscount()}}</td>
                                </tr>
                                <tr>
                                    <th>Price After Discount</th>
                                    <td> {{getpackagestotalprice()-getpackagestotalDiscount()}}</td>
                                    <!--</tr>
                                <tr>-->
                                    <th>Service Level Tax</th>
                                    <td> {{getallpackagestotaltax()}}</td>
                                </tr>
                                <tr>
                                    <th>Package Level Tax</th>
                                    <td>{{getpackagleveltaxamount()}} </td>
                                    <!--</tr>
                                 <tr>-->
                                    <th>Gross Amount </th>
                                    <td>{{(getpackagleveltaxamount() + (getpackagestotalprice()-getpackagestotalDiscount()) + getallpackagestotaltax())}} </td>
                                    <!--<td><input class="form-control" ng-model="grossamount" ng-value=getpackagleveltaxamount()+(getpackagestotalprice()-getpackagestotaldiscount())+getallpackagestotaltax()></td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <br />

                <!-------------------------------------------------------- User Details Container class  -------------------------------------------------------------------------------------------------------------
            @Package     :-
            @Sub-Package :-
            @Category    :-
            @Link        :-
            @Since       :-
            @Filesource  :-
            ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                <div class="panel-custom-horrible-red">
                    <div class="panel-heading"><label style="font-size:150%;color: #402063;  ">Payment Details</label> </div>
                    <div class="container">
                        <div class="col-md-12">
                            <p></p>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label style="padding-top:8px">Select payment Method :</label>
                            </div>
                            <div class="col-md-4">
                                <select name="paymentMethod" class="form-control" id="paymentMethod" ng-model="paymentMethod" ng-options="service.ServiceID as service.ServiceName for service in services" required>
                                    <!--<option value="">Select Payment Method</option>-->
                                </select>
                                <span class="help-block" ng-show="newAdmissionController.paymentMethod.$error.required" style="color:red">Select Payment Method</span>
                            </div>
                            <div class="col-md-2">
                                <label style="padding-top:8px">Transaction ID:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="uniquid" name="uniquid" value={{UNIQUETRANSACTIONID}} readonly>
                            </div>
                        </div>

                        <div id="cheque" class="col-md-12" style="display:none">
                            <br />
                            <div class="col-md-2">
                                <label style="padding-top:8px">Bank Name :</label>
                            </div>
                            <div class="col-md-4">
                                <input id="lname" name="name" placeholder="Bank Name" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label style="padding-top:8px">Cheque Number</label>
                            </div>
                            <div class="col-md-4">
                                <input id="lname" name="name" placeholder="Cheque Number" class="form-control">
                            </div>
                            <br />
                        </div>


                        <div id="cash" class="col-md-12" style="display:none">
                        </div>

                        <div id="debitcard" class="col-md-12" style="display:none">
                            <br />
                            <div class="col-md-2">
                                <label style="padding-top:8px">Card Number :</label>
                            </div>
                            <div class="col-md-4">
                                <input id="lname" name="name" placeholder="Card Number" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label style="padding-top:8px">Bank Name</label>
                            </div>
                            <div class="col-md-4">
                                <input id="lname" name="name" placeholder="Bank Name" class="form-control">
                            </div>
                            <br />
                        </div>


                        <div id="creditcard" class="col-md-12" style="display:none">
                            <br />
                            <div class="col-md-2">
                                <label style="padding-top:8px">Card Number :</label>
                            </div>
                            <div class="col-md-4">
                                <input id="lname" name="name" placeholder="Card Number" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label style="padding-top:8px">Bank Name</label>
                            </div>
                            <div class="col-md-4">
                                <input id="lname" name="name" placeholder="Bank Name" class="form-control">
                            </div>
                            <br />
                        </div>


                        <div class="col-md-12"><p></p></div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label style="padding-top:8px">Billing Amount:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" name="BillingAmount" title="Enter MRP" id="BillingAmount" value={{(getpackagleveltaxamount()+(getpackagestotalprice()-getpackagestotalDiscount())+getallpackagestotaltax())}}>
                            </div>
                            <div class="col-md-2">
                                <label style="padding-top:8px">Paying Amount:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" ng-model="payingAmount" name="payingAmount" id="payingAmount" ng-required="true" type="number">
                                <span class="help-block" ng-show="newAdmissionController.payingAmount.$error.required" style="color:red">Enter payment Amount</span>
                                <span class="help-block" ng-show="newAdmissionController.payingAmount.$error.pattern" style="color:red">Only Numbers are Allowed</span>
                            </div>
                            <div class="col-md-12"><p></p></div>
                            <div class="col-md-2">
                                <label style="padding-top:8px">Balance Payment:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" name="BalancePayment" id="BalancePayment" value={{(getpackagleveltaxamount()+(getpackagestotalprice()-getpackagestotalDiscount())+getallpackagestotaltax())-payingAmount}}>
                            </div>
                            <div class="col-md-2">
                                <label style="padding-top:8px">Invoice Date:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" name="invoiceDate" ng-model="invoiceDate" readonly>
                            </div>
                            <div class="col-md-12"><p></p></div>
                            <div class="col-md-2">
                                <label style="padding-top:8px">Remark:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" name="remarks" placeholder="Enter Remarks" title="Enter Remarks" ng-model="remarks">
                            </div>
                            <div class="col-md-2">
                                <label style="padding-top:8px">Authorised By:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" name="authorisedby" placeholder="Authorised person name" title="Authorised person name" ng-model="authorisedby" required readonly>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-12"><p><p></p></div><br />
                <div class="col-md-12"><p></p></div>
                <div class="container" align="center">
                    <button type="submit" class="btn btn-primary btn-lg" align="center" ng-disabled="((!newAdmissionController.$valid) || (startsubmitting!=0))" ng-click="submitted=true && submitinvoiceForm()">Submit</button>
                    <button id="lnkPrint" class="btn btn-primary btn-lg">Print </button>
                    <button type="reset" class="btn btn-danger btn-lg" onclick="document.location.href = 'index.html#/dashboard/home';">Cancel</button>
                    <button id="Print" ng-click="Formprint()" class="btn btn-primary btn-lg">Print </button>
                    <div class="col-md-12"><p><p></p></div><br />
                    <div class="col-md-12"><p></p></div>
                    <div class="col-md-12"><p><p></p></div><br />
                    <div class="col-md-12"><p></p></div>
                </div>
                </div>
            </div>
        </div>
                <div class="col-md-12"><p></p></div>
                <div class="col-md-12" align="center"></div>
                <div class="col-md-12"><p></p></div>
                <div class="col-md-12"><p></p></div>
                <div class="col-md-12"><p></p></div>
                <div class="col-md-12"><p></p></div>
</form>